/* You can add global styles to this file, and also import other style files */

body{
  margin: 0;
  padding: 0;
}

:host ::ng-deep .p-dropdown {
  width: 13rem ;
}

:host ::ng-deep .p-hidden-accessible {
  display: none ;
}


