<div class="container">
  <div class="choose-period">
    <div class="period">
      <a>Day</a>
      <a>Week</a>
      <a>Month</a>
      <a>Year</a>
      <a>Set period</a>
    </div>
  </div>
  <div class="date-picker"></div>
  <div class="data">
    <app-expenses-and-incomes-table></app-expenses-and-incomes-table>
  </div>
  <div class="action-buttons">
    <p-button
      (onClick)="OnAddExpense()"
      icon="pi pi-plus"
      styleClass=" p-button-rounded p-button-outlined"
    ></p-button>
  </div>
</div>
