<div class="container">
  <div class="choose-period">
    <div class="period">
      <a>Day</a>
      <a>Week</a>
      <a>Month</a>
      <a>Year</a>
      <a>Set period</a>
    </div>
  </div>
  <div class="date-picker"></div>
  <div class="graph">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, atque ut
      minima a eos obcaecati totam voluptatem aperiam nulla impedit odio
      doloribus, porro esse. Molestias animi fugit nam quasi corrupti.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, atque ut
      minima a eos obcaecati totam voluptatem aperiam nulla impedit odio
      doloribus, porro esse. Molestias animi fugit nam quasi corrupti.
    </p>
    <p>Expenses</p>
  </div>
  <div class="action-buttons">
    <p-button
      (onClick)="OnAddExpense()"
      icon="pi pi-plus"
      styleClass=" p-button-rounded p-button-outlined"
    ></p-button>
  </div>
</div>
