<div class="sidebar-buttons">
  <p-button
    [routerLink]="['/expenses']"
    [routerLinkActive]="['button-active']"
    icon="pi pi-chart-pie"
    styleClass="p-button-rounded p-button-text p-button-secondary"
    label="Expenses"
  ></p-button>
  <p-button
    [routerLink]="['/accounts']"
    [routerLinkActive]="['button-active']"
    icon="pi pi-wallet"
    styleClass="p-button-rounded p-button-text p-button-secondary"
    label="Accounts"
  ></p-button>
  <p-button
    [routerLinkActive]="['button-active']"
    icon="pi pi-list"
    styleClass="p-button-rounded p-button-text p-button-secondary"
    label="Graphs"
  ></p-button>
  <p-button
    [routerLinkActive]="['button-active']"
    icon="pi pi-cog"
    styleClass="p-button-rounded p-button-text p-button-secondary"
    label="Settings"
  ></p-button>
</div>
