.container {
  display: grid;
  grid-template-rows: 1rem 1rem 1fr 1rem;
  grid-template-columns: 1fr 3rem;
}

.period {
  display: flex;
  justify-content: space-between;
}

.choose-period {
  background-color: grey;
}

.date-picker {
  grid-area: 2 / 1 / 3 / 2;
  background-color: teal;
}

.graph {
  background-color: darkgrey;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.action-buttons {
  display: flex;
  align-items: center;
  background-color: bisque;
  grid-area: 3 / 2 / 4 / 3;
}
